{% extends "main.html.twig" %}

{% block header %}
    <img src={{data.afbeelding}} alt="img-recipe" class="recipe_img">
{% endblock %}

{% block content %}
<div class="detail_card">
    <div class= "row" style="height:100%">
        <div class="col-md-6">
            <div class="detail_recipe_img" style="width:100%; height:100%; background-image:url({{data.afbeelding}})"></div>
            
        </div>
        <div class="col-md-6">
            <div> 4pers.  {{data.prijs}} {{data.calories}}</div>
            <span> {{data.titel}} </span>
            <span> {{data.rating}}</span> <br>
            <span> Keuken {{data.keuken.omschrijving}}</span>
            <span> Type {{data.type.omschrijving}}</span> <br>
            <p>{{data.lange_omschrijving}}</p>

            <button class="button">Op lijst</button>
            

            
            
        </div>

    </div>
</div>
<div class= "recipe_info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-420048">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" href="#tab1" data-toggle="tab">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab2" data-toggle="tab">Preperation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab3" data-toggle="tab">Remarks</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <ul>
                                {% for ingredient in data.ingredienten %}
                                <li>{{ingredient.naam}}</li>

                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="tab2">
                            {% for stap in data.bereidingswijze %}
                                <div>{{stap.nummeriekveld}}. {{stap.tekstveld}}</div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="tab3">
                            {% for opmerking in data.opmerkingen %}
                                <div>{{opmerking.user_name}}: {{opmerking.tekstveld}}</div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{# <pre>
        {{ dump(data) }}
       </pre> #}
    
    
</div>

{% endblock %}