{% extends "main.html.twig" %}

{% block header %}
    <img src={{data.afbeelding}} alt="img-recipe" class="recipe_img">
{% endblock %}

{% block content %}

<div class= "row detail_card">
    <div class="col-md-6" style="padding-left:0">
        <div class="detail_recipe_img" style="background-image:url({{data.afbeelding}})"></div>

    </div>
    <div class="col-md-6 d-flex flex-column"  style="font-size:0.8rem; padding-bottom:15px">
        <div class="row">
            <div class="col-md-12" style="font-size:1.2rem;">
                <i class="fas fa-users recipe_icons"></i> 
                <span>4</span>
                <i class="fas fa-euro-sign recipe_icons"></i>
                <span>{{(data.prijs/100)}}</span>
                <i class="fas fa-burn recipe_icons"></i>
                <span>{{data.calories}}</span><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><h2>{{data.titel}}<h2></div>
            <div class="col-md-6">
            <script>
            
                $(document).ready(function() {
                    const average = {{data.rating}}
                    
                    $(".star").each((index, elem) => {
                        const itemValue = $(elem).attr("data-value")
                        if(itemValue <= average) {
                            $(elem).addClass("selected_stars")
                        }
                    })
                    
                    $(".star").click(function() {
                        const value = $(this).attr("data-value")
                        let gerecht_id = {{data.id}}
                        gerecht_id = gerecht_id.toString()
                        const url =  "index.php?action=rating&gerecht_id=" + gerecht_id + "&rating=" + value
                        $.ajax({
                            url: url,
                            method: "GET",
                            success: function(result) {
                                let newAverage = result.average
                                $(".star").removeClass('selected_stars')
                                $(".star").each((index, elem) => {
                                    const itemValue = $(elem).attr("data-value")
                                    if(itemValue <= newAverage) {
                                        $(elem).addClass("selected_stars")
                                    }
                                })
                            }
                        })
                    })
                })
            
            </script>
                <i class="fas fa-star star" data-value="1"></i>
                <i class="fas fa-star star" data-value="2"></i>
                <i class="fas fa-star star" data-value="3"></i>
                <i class="fas fa-star star" data-value="4"></i>
                <i class="fas fa-star star" data-value="5"></i>
            </div>
        </div>
        <div class="row">
            <h4 class="col-md-3">Keuken</h4>
            <span class="col-md-3 center-text">{{data.keuken.omschrijving}}</span>
            <h4 class="col-md-3">Type</h4>
            <span class="col-md-3 center-text">{{data.type.omschrijving}}</span>
        </div>
        <div class="row">    
            <div class="col-md-12">
                <p>{{data.lange_omschrijving}}</p>
            </div>
        </div>
        <div class="row mt-auto">
            <div class="col-md-6">
                <button class="button">Op lijst</button>
            </div>
            <div class="col-md-6">
                <a class="far fa-heart favorite"></a>
            </div>
        </div>
    </div>
</div>


<div class= "recipe_info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-420048">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show recipe-tabs" href="#tab1" data-toggle="tab">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link recipe-tabs" href="#tab2" data-toggle="tab">Preperation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link recipe-tabs" href="#tab3" data-toggle="tab">Remarks</a>
                        </li>
                    </ul>
                    <div class="tab-content recipe-body">
                        <div class="tab-pane active" id="tab1">
                            {% for ingredient in data.ingredienten %}
                            {# <div>{{ingredient.naam}}</div> #}

                            <div class="row ingredient" >
                            
                                <div class="col-md-2">
                                    <div class="detail_recipe_img" style="background-image:url({{ingredient.afbeelding}})"></div>
                                
                                </div>
                                <div class="col-md-10">
                                    <h3>{{ingredient.naam}}</h3>
                                    <p>{{ingredient.omschrijving}}</p>
                                    <div style="display:flex;gap:0px 10px;">
                                        <h5 class="font-size__small" >Hoeveelheid:</h5>
                                        <div>{{ingredient.aantal}}</div>
                                        <div>{{ingredient.eenheid}}</div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            
                        </div>
                        <div class="tab-pane" id="tab2">
                            {% for stap in data.bereidingswijze %}
                            <div class="row prepare">
                                <div class="col-md-2 stepnumber">{{stap.nummeriekveld}}.</div>
                                <div class="col-md-4" style="font-size:0.9rem"> {{stap.tekstveld}}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="tab3">
                            {% for opmerking in data.opmerkingen %}
                            <div class="row remarks" >
                                <div class="col-md-2">
                                    <div class="user_img" style="background-image:url({{opmerking.afbeelding}})"></div>
                                </div>
                                <div class="col-md-8">
                                    <h4> {{opmerking.user_name}} </h4>
                                    <div> {{opmerking.tekstveld}} </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{# <pre>
        {{ dump(data) }}
       </pre> #}
    
    
</div>

{% endblock %}