{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
    {{parent()}} 
{# <img src="assets/img/logo-v2.png"/> #}
{% endblock %} 


{# nu de block content op in de main pagina vullen #}
{% block content %}
    


{# Loop #}
    <ul class="recipes">
    {% for record in data %}
        <li class="card" style="width: 40%;">
            <img src={{record.afbeelding}} class="card-img-top recipe_img" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{record.titel}}</h5>
                <p class="card-text">{{record.lange_omschrijving}}</p>
                <a href="#" class="btn btn-danger">Smullen!</a>
            </div>
        </li>

    {% endfor %}
    </ul>
     {# Dump #}
       {# <pre>
        {{ dump(data) }}
       </pre> #}
    

{% endblock %}
