{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
    {{parent()}} 
{# <img src="assets/img/logo-v2.png"/> #}
{% endblock %} 


{# nu de block content op in de main pagina vullen #}
{% block content %}
    


{# Loop #}
    <div class="row">
    {% for record in data %}

        <div class="col-md-6";>
            <div  class="card" style="margin-bottom:50px">
                <img src={{record.afbeelding}} class="card-img-top recipe_img" style="width:100%; height:200px" alt="...">
                <div class="card-body">
                    <div class="space-between">
                        <h5 class="card-title" style="color:var(--lighter-green)">{{record.titel}}</h5>
                    </div>
                    <p class="card-text">{{record.lange_omschrijving}}</p>
                    <div class="space-between">
                        <a href="?action=detail&gerecht_id={{ record.id }}" class="button">Smullen!</a>
                        <span>
                            <i class="fas fa-users recipe_icons"></i> 
                            <span>4</span>
                            <i class="fas fa-euro-sign recipe_icons"></i>
                            <span>{{(record.prijs/100)}}</span>
                            <i class="fas fa-burn recipe_icons"></i>
                            <span>{{record.calories}}</span>
                        </span>
                    </div>    
                </div>
            </div>
        </div>

    {% endfor %}
    
     {# Dump #}
       {# <pre>
        {{ dump(data) }}
       </pre> #}
    

{% endblock %}
