{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
    {{parent()}} 
{# <img src="assets/img/logo-v2.png"/> #}
{% endblock %} 


{# nu de block content op in de main pagina vullen #}
{% block content %}
    


{# Loop #}
    <ul>
    {% for record in data %}
        <li>
            <img src="{{ record.afbeelding }}" style="width: 250px; height: 150px;">
            <br>
            <span style='color: green; font-weight: 900' >{{ record.titel }}</span> {{ record.rating }} <br>
            {{ record.lange_omschrijving}} <br>

            {{ record.prijs}}
            {{ record.calories}}
            
            
        </li>
    {% endfor %}
    <ul>
     {# Dump #}
       {# <pre>
        {{ dump(data) }}
       </pre> #}

{% endblock %}
